route:
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 30s
  receiver: 'Mail Alert'

receivers:
  - name: 'Mail Alert'
    email_configs:
      - smarthost: 'smtp.gmail.com:587'
        auth_username: 'hspecter2015@gmail.com'
        auth_password: 'aexn svyq zoke jzak'
        from: 'hspecter2015@gmail.com'
        to: 'tomlui2010@gmail.com'
        headers: 
          subject: 'Prometheus Mail Alerts'
        send_resolved: true
