groups:
- name: Node Alert Rules 
  rules:
  - alert: MemoryUsage
    expr: 100 - ((node_memory_MemAvailable_bytes * 100) / node_memory_MemTotal_bytes) > 80
    for: 5m
    labels:
      severity: "warning"
    annotations:
      summary: "Out of Ram Memory "
      description: "Ram is less then 20% "